/* ------- header --------- */
img {
  width: 100%;
  /* need to overwrite inline dimensions */
  height: auto;
}

#projet img {
margin-bottom: 25px;
}

figcaption{
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.footer-content {
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: black;
  padding: 1em;
  padding-bottom: 3em;
}

footer ul li {
  display: block;
  padding-bottom: 1em;
  padding-left: 0em;
  margin-left: 0px;
}

footer h3 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

#logo-rs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Grille PROJETS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0em;
}

.project-listing {
  position: relative;
}

.project-image {
  line-height: 0;
  overflow: hidden;
}

.project-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-listing:hover .project-title {
  opacity: 1;
}

.project-listing:hover .project-image img {
  filter: blur(2px);
}

img {
  width: 100%;
  /* need to overwrite inline dimensions */
  height: auto;
}

@media (min-width : 1600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }

  /* LOGOTYPE */
  .logo img {
    height: 100px;
    width: auto;
  }
}

/*PAGES PROJETS*/
/* --------- Projets Type 1 -----------*/
#projet {
  overflow: hidden;
}


#projet p {
  max-width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projet h3 {
  text-align: center;
  font-weight: bold;
  color: grey;
}

#projet h6 {
  color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projet-feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.projet-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 1;
}

#projet img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projet figure {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#full {
  width: 70%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

#cover {
  width: 80%;
  object-fit: cover;
}

/* --------- Projets Type 2 -----------*/
#projet02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
    margin: 100px;
}


#projet02-bloc {
  width: 40%;
}

#projet02-citation {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
}


#projet {
  overflow: hidden;
}


@media (min-width:1600px) {

  #projet {
    margin-left: 300px;
    margin-right: 300px;
  }
}



#projet p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 25px;
  max-width: 700px;
  color: grey;
  display: block;
}

#ours {
  max-width: 500px;
}

#ours h6 {
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


@media (max-width:899px) {
  #projet02 {
    margin: 25px;
  }


}

#ours p {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  color: grey;
  display: block;
  text-align: center;
}

#projet img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projet figure {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


@media (max-width : 899px) {
  #projet p {
    max-width: 400px;
  }

  #projet02 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #projet02-bloc {
    margin-bottom: 50px;
    width: 100%
  }

  h4{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --------- Projet lueurs dans la nuit -----------*/
h4 {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 26px;
  color: grey;

}



/* Boutons précédents et suivant*/
.boutons {
  font: inherit;
}

.boutons ul {
  padding-top: 40px;
  display: run-in;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.boutons li {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

.boutons a {
  text-decoration: none;
  background-color: black;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.5s ease;
}

.boutons a:hover {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #d1c5fd;
}

#full_quilling  {
visibility:visible;}


@media (max-width : 899px) {
  .boutons ul {
    padding-top: 0px;
    margin-top: 4em;
  }

  .boutons li {
    margin-top: 0em;
  }

  #full_quilling  {
visibility: hidden;
width: 1%;}

}


/* barre crédits footer */
.codrops-top {
  min-height: 20px;
  font-size: 10px;
  width: 100%;
  color: darkgrey;
  text-transform: uppercase;
}

.codrops-top a {
  background-color: black;
  letter-spacing: 2px;
  color: darkgrey;
  text-align: center;
  display: block;
  text-decoration: none;
}

.codrops-top a:hover {
  color: white;
}

/*style smartphones et petites tablettes en portrait*/
@media (max-width: 899px) {
  #main-menu {
    position: relative;
    width: 100%;
    background: transparent;
    display: block;
    align-items: center;
    align-content: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.2);
  }

  #ours h6 {
    padding-top: 25px;
  }

  /* LOGOTYPE */
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .logo img {
    height: 70px;
    width: auto;
  }

  .logo a {
    margin-left: 10px;
  }

  /* NAV */
  #main-menu ul {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    background: white;
  }

  #main-menu ul a {
    max-width: 100px;
    display: block;
    flex-basis: auto;
    color: black;
    padding: 15px;
    background: white;
    text-decoration: none;
  }

  /* GRILLE PROJETS */
  .project-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .project-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .project-listing:hover .project-image img {
    filter: blur(0px);
  }
}

@media (min-width : 900px) {
  #main-menu {
    position: relative;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.2);
    padding: 1em;
  }

  #ours h6 {
    padding-top: 50px;
  }

  /* LOGOTYPE */
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .logo img {
    height: 70px;
    width: auto;
  }

  .logo a {
    margin-left: 10px;
  }

  /* NAV */
  #main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background: white;
    margin-right: 50px;
  }

  #main-menu ul a {
    max-width: 100px;
    display: block;
    flex-basis: auto;
    color: black;
    padding: 1.5em;
    background: white;
    text-decoration: none;
  }

  /* FOOTER */
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1em;
    padding-bottom: 3em;
  }

  footer ul li {
    padding-bottom: 1em;
    padding-left: 0em;
    margin-left: 0px;
  }

  footer h3 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /* Boutons suivants et précédents*/
  .boutons li {
    margin-left: 4em;
    margin-right: 4em;
  }

  .boutons ul {
    display: flex;
  }
}

@media (min-width : 1599px) {

  /* LOGOTYPE */
  .logo {
    margin-left: 100px;
  }

  .logo img {
    height: 80px;
    width: auto;
  }

  .logo a {
    margin-left: 10px;
  }

  /* NAV */
  #main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background: white;
    margin-right: 150px;
  }

  #main-menu li a {
    font-size: 17px;
  }

  #main-menu ul a {
    max-width: 200px;
    color: black;
    padding: 2em;
    background: white;
    text-decoration: none;
  }
}


/* SECTION CONTACT */

.contact-feature{
max-width: 600px;
}

.contact-feature-content{
  display: flex;
  flex-direction: row;
  margin:100px;


}

#contact {
  overflow: hidden;
}

@media (max-width:899px) {
.contact-feature-content{
  flex-wrap: wrap;
flex-direction: column-reverse;
margin-top: 0;
margin-bottom: 0;
}
#contact h4{
  margin-left: 0;

}
}


/*Section about*/

.about-feature{
max-width: 600px;
}

.about-feature-content{
  display: flex;
  flex-direction: row;
  margin:100px;
}



#about {
  overflow: hidden;
}

@media (max-width:899px) {
.about-feature-content{
  flex-wrap: wrap;
flex-direction: column;
margin-top: 0;
margin-bottom: 0;
}
#about h4{
  margin-left: 0;

}
}
