@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ------- header --------- */
body {
  font-family: 'Rubik', sans-serif;
}

figcaption {
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  color: grey;
  font-style: italic;
}

a {
  font-family: 'Rubik', sans-serif;
}

h2 {
  margin-top: 75px;
  margin-bottom: 75px;
  font-size: 3em;
  text-align: center;
}

#contact h4 {
  font-size: 24px;
    margin-bottom: 50px;
  color: #b29ddb;
}

#contact p{
  font-size: 20px;
  font-weight: lighter;
    margin-bottom: 10px;
}



#contact h2 {
  text-align: left;
  margin-bottom: 25px;
}

#contact a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#contact a:hover {
  color: #d1c5fd;
}




@media (max-width:899px) {
  #contact a{
    font-size: 16px;
  }
  #contact p{
    font-size: 18px;
  }

#contact h4{
  font-size: 18px;
}
}


#main-menu a {
  font-size: 14px;
}




#about h4 {
  font-size: 24px;
    margin-bottom: 50px;
  color: #b29ddb;
}

#about p{
  font-size: 20px;
  font-weight: lighter;
    margin-bottom: 25px;
}

#about h2 {
  text-align: left;
  margin-bottom: 25px;
}

#about a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#about a:hover {
  color: #d1c5fd;
}




@media (max-width:899px) {
  #about a{
    font-size: 16px;
  }
  #about p{
    font-size: 18px;
  }

#about h4{
  font-size: 18px;
}
}



.logo a {
  font-size: 24px !important;
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.boutons a {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

#projet p {
  font-size: 18px;
  color: grey;
  font-weight: 300;
}

#projet h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
}

#projet h3 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 1.25em;
  text-align: center;
  text-align: center;
  font-weight: bold;
  margin-left: 0;
  color: grey;
}

/* FOOTER */
footer h3 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 1em;
  text-align: center;
}

footer ul li {
  text-align: center;
  color: #808e95;
}

footer ul a {
  color: #808e95;
  text-decoration: none;
  font-size: 16px;
}

footer a:hover {
  color: white;
}

#main-menu ul a:hover {
  color: #b29ddb;
}

@media (max-width: 899px) {
  #main-menu a {
    font-size: 14px;
  }

  #projet p {
    font-size: 16px;
    color: grey;
    font-weight: 300;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width : 900px) {
  #main-menu a {
    font-size: 14px;
  }

  footer h3 {
    font-size: 1.5em;
    text-align: left;
  }

  footer ul li {
    text-align: left;
  }

  #projet p {
    font-size: 18px;
    color: grey;
    font-weight: 300;
  }

  #projet h2 {
    margin-top: 25px;
    margin-bottom: 100px;
    font-size: 3em;
    text-align: center;
  }

h2{
  margin-bottom :0;
}

#project h2{
  margin-bottom: 75px;
}

  #projet h3 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    text-align: center;
    font-weight: bold;
    margin-left: 0;
    color: grey;
  }
}
