h2 {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 3em;
text-align: center;
}

h3{
  margin-left: 75px;
  margin-bottom: 25px;
  font-size: 2em;
text-align: left;
}

.photo-feature h3{
  margin-left: 0px;
  margin-bottom: 15px;
  font-size: 2em;

}


p{
  margin-left: 75px;
max-width: 600px;
  margin-bottom: 25px;
  font-size: 1em;
text-align: left;
}
